
[Desktop Entry]
Encoding=UTF-8
Name=Link to Mezzanine homepage
Type=Link
URL=http://127.0.0.1:8000/
Icon=gnome-fs-bookmark
Name[en_CA]=00 link to homepage.desktop
