<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE8" /> <!-- Use Google Chrome Frame for Internet Explorer 8 or lower Users -->
        <link rel="stylesheet" type="text/css" href="static_assets/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="static_assets/css/1140.css" />
        <link rel="stylesheet" type="text/css" href="static_assets/css/ie.css" />
        <link rel="stylesheet" type="text/css" href="static_assets/css/styles.css" />
        <link rel="stylesheet" type="text/css" href="static_assets/css/standard.css" />

        <title>Booking</title>

        <!-- In case user doesn't install Google Chrome Frame: -->
        <!--[if lte IE 8]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Google Chrome Frame Install Prompt for Internet Explorer 8 or lower Users -->
        <!--[if lte IE 8]>
          <script type="text/javascript" 
           src="//ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
      
          <p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade
            to a different browser</a> or...</p>
          <div id="prompt">
        <!-- if IE without GCF, prompt goes here -->
    </div>

    <script>
        // The conditional ensures that this code will only execute in IE,
        // Therefore we can use the IE-specific attachEvent without worry
        window.attachEvent("onload", function() {
            CFInstall.check({
                mode: "inline", // the default
                node: "prompt"
            });
        });
    </script>
    <![endif]-->

    <!-- Your web page content goes below -->

    <div class="container"> <!-- 1140 layout begins -->

        <div class="row logo_title_bar">
            <div class="twocol logo_graphic"><img src="static_assets/img/title1.png"/></div>
        
            <div class="tencol last nav_bar">
                <a href="home.html"><div class="threecol button">Home</div></a>
                <a href="make_a_booking.html"><div class="threecol button">Make a Booking</div></a>
                <a href="check_a_booking.html"><div class="threecol button">Check a Booking</div></a>
                <a href="sign_up.html"><div class="threecol last button">Sign Up</div></a>
            </div>
        </div>

        <div class="row body_row">
            <div class="sixcol left_col">
                <p>&nbsp;</p>
                <img src="static_assets/img/2012_calendar.png"/>
                <p>&nbsp;</p>
            </div>

            <div class="sixcol last right_col">
                <form id="form1" name="form1" method="post" action="">
                    <p>&nbsp;</p>
                    <p>
                        <label class="signInFieldLabel" for="studentName">Student's Full Name:</label>
                        <input class="signInFieldInput" type="text" name="studentName" id="studentName" />


                    </p>
                    <p>&nbsp;</p>

                    <p>
                        <label class="signInFieldLabel" for="course">Course:</label>
                        <input class="signInFieldInput" type="text" name="course" id="course" />


                    </p>
                    <p>&nbsp;</p>

                    <p>
                        <label class="signInFieldLabel" for="dateWriting">Date Writing:</label>
                        <input class="signInFieldInput" type="text" name="dateWriting" id="dateWriting" />


                    </p>
                    <p>&nbsp;</p>
                    
                    
                    <p>
                        <label class="signInFieldLabel" for="periodWriting">Period Writing:</label>
                        <input class="signInFieldInput" type="text" name="periodWriting" id="periodWriting" />


                    </p>
                    <p>&nbsp;</p>
                    
                    <p>
                        <label class="signInFieldLabel" for="teacher">Teacher's Name:</label>
                        <input class="signInFieldInput" type="text" name="teacher" id="teacher" />


                    </p>
                    <p>&nbsp;</p>


                    
                    
                    <p>
                        <label class="signInFieldLabel" for="subjectLevelOfTest">Subject and Level of Test:</label>
                        <input class="signInFieldInput" type="text" name="subjectLevelOfTest" id="subjectLevelOfTest" />


                    </p>
                    <p>&nbsp;</p>

                    

                    
                        <label class="signInFieldLabel" for="accommodation">Accommodations:</label><br>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <label for="option1"> Extended Time</label><input class="acc" type="checkbox" id="option1" value="Extended Time"><br>
                        <label for="option2">Computer</label><input class="acc" type="checkbox" id="option2" value="Computer"><br>
                        <label for="option3">Scribe</label><input class="acc" type="checkbox" id="option3" value="Scribe"><br>
                        <label for="option4">Enlargements</label><input class="acc" type="checkbox" id="option4" value="Enlargements"><br>
                        <input type="checkbox" name="option5" value="Reader"> Reader<br>
                        <input type="checkbox" name="option6" value="Isolation/Quiet"> Isolation/Final<br>
                        <input type="checkbox" name="vehicle" value="Car" /> I have a car 
                        

                    
                    
                    <p>&nbsp;</p>


                    





                    <p>&nbsp;</p>
                    <p>
                    <div class="submit1">
                        <label for="submit"></label>
                        <input type="submit" name="Submit" id="Submit" value="Submit" />

                        </p>
                    </div>
                </form>
            </div>
        </div>      

        <div class="row footer_bar">
            <div class="twelvecol last">CopyRight 2012 EM Bookit</div>
            <p>&nbsp;</p>
            <li><a href="team_bio.html">Team Bio</a></li>
            <p>&nbsp;</p>
        </div>


    </div> <!-- 1140 layout ends -->
    <!--  
    <div class="column">
      <h1>Content Headline</h1>
      <p>A Paragraph</p>
    </div>
  
    <div class="column rounded_corners">
      <h1>Yet Another</h1>
      <p>Yet another para</p>
    </div>
    <!-- Your web page content goes above -->


    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- fall back loading jQuery via HTTPS in case protocol was file://. This is NOT a local fall back. -->
    <script>window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"><\/script>')</script>
    <!-- fall back loading Pure.js and jQuery from locally if offline completely -->
    <script>window.jQuery || document.write('<script src="static_assets/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

    <!-- scripts concatenated and minified via build script -->
    <script src="static_assets/js/plugins.js"></script>
    <script src="static_assets/js/script.js"></script>
    <!-- end scripts -->
    <!-- Template based partly on html5boilerplate.com/ -->
</body>
</html>
